//! **************************************************************************
// Written by: Map P.20131013 on Thu Jun 08 01:46:17 2017
//! **************************************************************************

SCHEMATIC START;
COMP "plus" LOCATE = SITE "P80" LEVEL 1;
PIN plus_pin<0> = BEL "plus" PINNAME PAD;
PIN "plus_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "dipLEDs<0>" LOCATE = SITE "P55" LEVEL 1;
COMP "dipLEDs<1>" LOCATE = SITE "P54" LEVEL 1;
COMP "dipLEDs<2>" LOCATE = SITE "P51" LEVEL 1;
COMP "dipLEDs<3>" LOCATE = SITE "P50" LEVEL 1;
COMP "dipLEDs<4>" LOCATE = SITE "P49" LEVEL 1;
COMP "dipLEDs<5>" LOCATE = SITE "P48" LEVEL 1;
COMP "dipLEDs<6>" LOCATE = SITE "P47" LEVEL 1;
COMP "dipLEDs<7>" LOCATE = SITE "P46" LEVEL 1;
COMP "sevenSegmentDisplay<0>" LOCATE = SITE "P117" LEVEL 1;
COMP "sevenSegmentDisplay<1>" LOCATE = SITE "P116" LEVEL 1;
COMP "sevenSegmentDisplay<2>" LOCATE = SITE "P115" LEVEL 1;
COMP "sevenSegmentDisplay<3>" LOCATE = SITE "P113" LEVEL 1;
COMP "sevenSegmentDisplay<4>" LOCATE = SITE "P112" LEVEL 1;
COMP "sevenSegmentDisplay<5>" LOCATE = SITE "P111" LEVEL 1;
COMP "sevenSegmentDisplay<6>" LOCATE = SITE "P110" LEVEL 1;
COMP "sevenSegmentDisplay<7>" LOCATE = SITE "P114" LEVEL 1;
COMP "clock" LOCATE = SITE "P129" LEVEL 1;
COMP "digitSelector<0>" LOCATE = SITE "P124" LEVEL 1;
COMP "digitSelector<1>" LOCATE = SITE "P121" LEVEL 1;
COMP "digitSelector<2>" LOCATE = SITE "P120" LEVEL 1;
COMP "equals" LOCATE = SITE "P76" LEVEL 1;
PIN equals_pin<0> = BEL "equals" PINNAME PAD;
PIN "equals_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "dipSwitches<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "dipSwitches<1>" LOCATE = SITE "P59" LEVEL 1;
COMP "dipSwitches<2>" LOCATE = SITE "P60" LEVEL 1;
COMP "dipSwitches<3>" LOCATE = SITE "P63" LEVEL 1;
COMP "dipSwitches<4>" LOCATE = SITE "P64" LEVEL 1;
COMP "dipSwitches<5>" LOCATE = SITE "P68" LEVEL 1;
COMP "dipSwitches<6>" LOCATE = SITE "P69" LEVEL 1;
COMP "dipSwitches<7>" LOCATE = SITE "P70" LEVEL 1;
NET "clock_BUFGP/IBUFG" PERIOD = 1000 ns HIGH 50%;
SCHEMATIC END;

